@import "../enviroment";
@import '~sass-material-colors';

p {
  //word-wrap: break-word;
  text-overflow: clip;;
}

.new{
  background: material-color('blue', '600');
  color: #FFFFFF;
}

.mat-expansion-panel-header{
  padding: 0;
}

.mat-expansion-panel-body{
  padding: 0;
}
