<!--<mat-card *ngFor="let house of users" class="card">-->
  <!--<mat-toolbar>-->
    <!--{{house.name}}-->
  <!--</mat-toolbar>-->
  <!--<mat-card-content>-->
    <!--Some Data in the card-->
  <!--</mat-card-content>-->
  <!--&lt;!&ndash;<mat-card-actions>&ndash;&gt;-->
    <!--&lt;!&ndash;<button mat-button>ITS A BUTTONNNN!</button>&ndash;&gt;-->
  <!--&lt;!&ndash;</mat-card-actions>&ndash;&gt;-->
<!--</mat-card>-->

<mat-card class="card">
  <mat-list>
    <mat-list-item  *ngFor="let house of users">
      <h3 matLine> {{house.name}} </h3>
      <h3 matLine *ngIf="house.admin">Admin Account </h3>
      <p matLine>
        <span>More Dta </span>
        <span>MOre dta</span>
      </p>
    </mat-list-item>
  </mat-list>
</mat-card>
