@import '~sass-material-colors';

.card {
  margin: 10px;
}

.full-width{
  width: 100%;
}

.register{
  background: material-color('blue-grey', '500');
  color: #FFFFFF;
}
.login{
  background: material-color('green', '600');
  color: #FFFFFF;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
.button-container {
  margin-left: .0em;
}
