<mat-card class="loginCard card">
  <mat-card-header class="">
  </mat-card-header>
  <mat-card-content class="example-container">
    <mat-form-field class="">
      <input matInput type="text" placeholder="Username" [(ngModel)]="loginUsername">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput type="password" placeholder="Password" [(ngModel)]="loginPassword">
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-select placeholder="Select Community" [(ngModel)]="loginCommID">
        <mat-option *ngFor="let community of communities" [value]="community.id">
          {{ community.name }} - {{ community.state }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
  <mat-checkbox color="primary" [(ngModel)]="stayLoggedIn">Remember me</mat-checkbox>
  <mat-card-actions class="button-container">
    <button mat-button routerLink="/register" class="register">REGISTER FOR AN ACCOUNT</button>
    <button mat-button class="login" (click)="login()">LOGIN</button>
  </mat-card-actions>
</mat-card>
