.loginContainer{
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: grey;
  //TODO Work on background image loading
  //background-image: url("https://static.pexels.com/photos/466685/pexels-photo-466685.jpeg");
  //background-repeat: no-repeat;
  //background-attachment: fixed;
  //background-position: center;
}

.loginCard{
  //margin: 20vw;
  width: 200px;
}
