<mat-card class="registerCard card">
  <mat-card-header>
    <mat-card-title>Register a new Skyline Community</mat-card-title>
    <mat-card-subtitle>Skyline CRM</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <h3 mat-subheader>Community Information</h3>
      <mat-list-item>
        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="Community Name" [(ngModel)]="communityName">
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="City" [(ngModel)]="communityCity">
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field class="full-width">
          <mat-select placeholder="Select State" [(ngModel)]="communityState">
            <mat-option *ngFor="let state of states" [(value)]="state.name">
              {{ state.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-list-item>

      <h3 mat-subheader>Admin Account Information</h3>
      <mat-list-item>
        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="Name" [(ngModel)]="name">
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="E-mail" [(ngModel)]="email">
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="Username" [(ngModel)]="username">
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field class="full-width">
          <input matInput type="password" placeholder="Password" [(ngModel)]="password">
        </mat-form-field>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="createAccount()">CREATE ACCOUNT</button>
  </mat-card-actions>
</mat-card>
