<div class="mainContainer">
  <div class="contentContainer">
    <stats-card *ngIf="isDataAvailable"  [users]="users"></stats-card>
    <register-card *ngIf="currentUser.admin"></register-card>
    <users-card *ngIf="isDataAvailable"  type="main" [users]="users"></users-card>
  </div>
  <div class="sidebarContainer">
    <profile-card *ngIf="isDataAvailable"  [currentUser]="currentUser"></profile-card>
    <!--<side-bar></side-bar>-->
    <users-card *ngIf="isDataAvailable"  type="sidebar" [users]="users"></users-card>
    <!--<register-card *ngIf="currentUser.admin"></register-card>-->
  </div>
</div>
